/* Root Variables */
:root {
	--root-size: 1.2rem;
	--main-bg-color: #ffffff;
	--main-text-color: #1F1E1E;
	--title-font-family: "fractul-variable", sans-serif;
	--title-font-weight: 400;
	--title-font-style: normal;
	--body-font-family: "Poppins";
	--body-font-size: 1rem;
	--body-font-weight: 300;
	--body-font-style: normal;
	--nav-padding: 1.2rem;
	--nav-margin: 1.5rem;
	--nav-height: 4px;
}

/* General Styles */
body {
	margin-left: 1.5rem; 
	margin-right: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem; 
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
	line-height: 1.6rem;
	font-size: var(--body-font-size);
}

nav {
	background-color: var(--main-bg-color);
}

/*  DEFAULT: MOBILE LAYOUT */

/* Title section */
header {
	background-color: var(--main-bg-color);
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	margin-top: 3rem;
	/* margin-bottom: 2rem; */
	padding-top: 5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 3rem;
}

/* Navigation */
.menu {
	font-family: 'Poppins';
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
	color: var(--main-text-color);
}

.grid-inner1-menu {
	background-color: transparent;
	height: 2rem;
	width: 2rem;
	border: 2px solid #D1484B;
	border-right: 1rem solid #D1484B;
}

/* Title */
.title-mobile{
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 600;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 3.6rem;
	color: var(--main-text-color);
	transition: all 0.3s ease;
}

.title-match {
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 600;
	color: transparent; 
	-webkit-text-stroke: 1.5px var(--main-text-color); 
} 

#titlepart {
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 300;
	font-size: 2rem;
	line-height: 2.5rem;
	color: #9a9898;
	margin-bottom: 4rem;
}

#inclusion {
	font-variation-settings: "wght" 500;
	color: var(--main-text-color);
	position: relative;
	display: inline-block;
}

#inclusion:hover:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #D1484B;
	content: '';
	top: 0;
	left: 0;
} 

#titlepart2 {
	float: right;
}

#dash {
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 800;
	color: #C5C5C5;	
}

/* Author and Link */
#address {
	/* background-color: #D1484B; */
	color: var(--main-text-color);
	/* margin-top: -4rem; */
	margin-bottom: 4rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:space-between;
	border-top: 1px solid #1F1E1E;
	border-bottom: 1px solid #1F1E1E;
}

#author {
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 400;
	font-size: 1.2rem;
	color: var(--main-tex-color);
}

#link {
	display: inline-block;
	position: relative;
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 400;
	font-size: 1.2rem;
	color: var(--main-text-color);
	border-bottom: 1px solid #1F1E1E;
}

.arrow {
	font-family: 'Poppins';
	font-size: 0.9rem;
}

/* Grid design */
.gridsquares {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 2rem;
	gap: 8px; 
	width: 20rem; 
	height: 20rem;
}

/* Basic grid square styling */
.grid-square {
	background-color: transparent;
	border: 2px solid #D1484B;
	width: 100%;
	height: 100%;
	transition: background-color 1s ease-in-out;
}

/* Last items - start as transparent, and will be filled in with color */
.grid-square.last-item {
	background-color: transparent;
}

/* Middle item */
.grid-square.mid {
	background-color: transparent;
}

/* Define the animation to fill in the squares one by one */
@keyframes fillColor {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: #D1484B; /* Red color when filled */
	}
}

@keyframes fillColor2 {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: transparent; 
		border-right: 50px solid #D1484B;  /* Red color when filled */
	}
}

/* Apply the animation to last items and mid item */
.grid-square.last-item {
	animation: fillColor 2s ease-in-out forwards;
}

.grid-square.mid {
	animation: fillColor2 2s ease-in-out forwards;
	animation-delay: 10s; /* This will fill after the last items */
}

/* Stagger the animation for each of the last-item squares */
.grid-square:nth-child(6) {
	animation-delay: 1s;
}

.grid-square:nth-child(7) {
	animation-delay: 3s;
}

.grid-square:nth-child(8) {
	animation-delay: 5s;
}

.grid-square:nth-child(9) {
	animation-delay: 7s;
}

/* Body Style */
p{
	margin-bottom: 3rem;
}

.questions {
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 400;
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding-left: 0.8rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border-left: 4px solid #D1484B;
	margin-bottom: 3rem;
}

/* Highlight */
.underline {
	font-weight: 400;
	background-color: rgba(242, 201, 63, 0.5);
}

#blockquote {
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 400;
	font-size: 1.15rem;
	line-height: 1.6rem;
	padding: 0.8rem;
	border-left: 6px solid #D1484B;
	border-top: 2px solid #D1484B;
	border-right: 2px solid #D1484B;
	border-bottom: 6px solid #D1484B;
	margin-bottom: 3rem;
}

/* Sub-title */
.sub-title {
	margin-top: 2rem;
	display: inline-block;
	position: relative;
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 600;
	font-size: 2.3rem;
	padding-bottom: 0.5rem;
	border-bottom: 4px solid #D1484B;
	margin-bottom: 2rem;
}

.opportunity {
	padding-top: 1rem;
	color: #9a9898;
	float: right;
	margin-bottom: 0.5rem;
}

h4 {
	/* margin-top: 2rem; */
	display: inline-block;
	position: relative;
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 600;
	font-size: 1.7rem;
	color: #9a9898;
	margin-bottom: 0.5rem;
}

.redword {
	padding-top: 0.2rem;
	font-size: 1.9rem;
	color: #D1484B;
}