/* Root Variables */
:root {
	--root-size: 1.2rem;
	--main-bg-color: #ffffff;
	--main-text-color: #1F1E1E;
	--title-font-family: "fractul-variable", sans-serif;
	--title-font-weight: 400;
	--title-font-style: normal;
	--body-font-family: "Poppins";
	--body-font-size: 1rem;
	--body-font-weight: 300;
	--body-font-style: normal;
	--nav-padding: 1.2rem;
	--nav-margin: 1.5rem;
	--nav-height: 4px;
}

/* General Styles */
body {
	margin-left: 1.5rem; 
	margin-right: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem; 
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
	line-height: 1.6rem;
	font-size: var(--body-font-size);
}

/* Navigation */
nav ul{
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}

.grid-innerhome-menu {
	color: var(--main-text-color);
	font-family: var(--title-font-family);
	font-size: 1.5rem;
	font-variation-settings: "wght" 500;
	line-height: 2rem;
}

.grid-inner1-menu {
	border: 2px solid var(--main-text-color);
	border-right: 1rem solid var(--main-text-color);
}

.grid-inner2-menu {
	background-color: var(--main-text-color);
} 

.grid-inner3-menu {
	background-color:var(--main-text-color);
}

/*  DEFAULT: MOBILE LAYOUT */
/* Title section */
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-text-color);
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	/* margin-top: 3rem; */
	/* margin-bottom: 2rem; */
	padding-top: 5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	/* padding-bottom: 3rem; */
	justify-content: center;
	text-align: center;
}


/* Navigation */
.menu {
	font-family: 'Poppins';
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
	color: var(--main-text-color);
}

.grid-inner3-menu {
	width: 2rem;
	height: 2rem;
	background-color: #3F75F2;
	clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

/* Title */
.title-mobile{
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 600;
	/* margin-top: 2rem; */
	margin-bottom: 2rem;
	font-size: 3.6rem;
	color: var(--main-bg-color);
}

.title-text {
	font-size: 2rem;
	line-height: 2.5rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-variation-settings: "wght" 500;
	color: var(--main-bg-color);
	text-align: center;
}

.title-text2 {
	color: #3F75F2;
	font-variation-settings: "wght" 500;
	font-size: 2rem;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 5rem;
	line-height: 2.5rem;
}

/* Author and Link */
#address {
	color: var(--main-text-color);
	margin-bottom: 4rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:space-between;
	border-top: 1px solid #1F1E1E;
	border-bottom: 1px solid #1F1E1E;
}

#author {
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 400;
	font-size: 1.2rem;
	color: var(--main-tex-color);
}

#link {
	display: inline-block;
	position: relative;
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 400;
	font-size: 1.2rem;
	color: var(--main-text-color);
	border-bottom: 1px solid #1F1E1E;
}

.arrow {
	font-family: 'Poppins';
	font-size: 0.9rem;
}

.questions {
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 400;
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding-left: 0.8rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border-left: 4px solid #3F75F2;
	margin-bottom: 2rem;
}

p {
	margin-bottom: 2.5rem;
}

p::selection {
	background: #3F75F2; /* Highlight color */
	color: #ffffff; /* Text color */
}

/* Highlight */
.highlight {
	font-weight: 400;
	background-color: rgba(242, 201, 63, 0.5);
}

.bluetext {
	font-family: var(--title-font-family);
	font-variation-settings: "wght" 500;
	font-size: 1.7rem;
	color: #3F75F2;
	margin-bottom: 0.5rem;
	line-height: 2.2rem;
}

footer {
	margin-top: 4rem;
}

/** Global preloader styles **/
.pl, .pl:before, .pl:after {
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.pl {
	margin: 0 auto 1.5em auto;
	position: relative;
	width: 3em;
	height: 3em;
}

.pl:before, .pl:after {
	background: #ffffff;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	transform-origin: 50% 100%;	
	clip-path: polygon(0 0,100% 0,50% 100%);
	-webkit-clip-path: polygon(0 0,100% 0,50% 100%);
}

/* Origami */
.pl-origami {
	animation-name: origamiA;
	animation-timing-function: steps(4);
}

.pl-origami:before, .pl-origami:after {
	clip-path: polygon(50% 0,100% 100%,0% 100%);
	-webkit-clip-path: polygon(50% 0,100% 100%,0% 100%);
}

.pl-origami:before {
	animation-name: origamiB;
}

.pl-origami:after {
	animation-name: origamiC;
	transform: rotate(180deg);
}

@keyframes origamiA {
	from { transform: rotate(0) }
	to { transform: rotate(-360deg) }
}
@keyframes origamiB {
	from, 25%, 50%, 75%, to { opacity: 1; transform: translateZ(0) rotateX(0deg) }
	12.5%, 62.5% { opacity: 1; transform: translateZ(1px) rotateX(-180deg) }
	37.5%, 87.5% { opacity: 0; transform: translateZ(0) rotateX(0deg) }
}
@keyframes origamiC {
	from, 25%, 50%, 75%, to { opacity: 1; transform: translateZ(0) rotateZ(180deg) rotateX(0deg) }
	12.5%, 62.5% { opacity: 0; transform: translateZ(0) rotateZ(180deg) rotateX(0deg) }
	37.5%, 87.5% { opacity: 1; transform: translateZ(1px) rotateZ(180deg) rotateX(-180deg) }
}

@media (min-width: 920px) {

	/* Title section */
	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--main-text-color);
		margin-top: 0rem;
	}

	/* Grid container */
	.grid-container-full {
		display: grid;
		grid-template-columns: 350px 1fr; 
		height: 100vh;
		padding-bottom: -10rem; 
	}

	.left-side {
		grid-column: 1;
		position: sticky; 
		top: 0;
		height: 100vh; 
		overflow-y: hidden; 
		overflow-x: hidden;
		margin-left: -1.5rem;
		/* margin-right: 1.5rem; */
		margin-top: -3rem;
		padding-top: -6rem;
		max-width: 60ch;
	}

	/* Title */
	.title-mobile{
		font-family: var(--title-font-family);
		font-variation-settings: "wght" 500;
		margin-top: 3rem;
		margin-bottom: 2rem;
		font-size: 2rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		color: var(--main-bg-color);
		transition: all 0.3s ease;
	}

	.title-text {
		font-size: 2rem;
		line-height: 2rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		font-variation-settings: "wght" 500;
		color: var(--main-bg-color);
		text-align: center;
	}

	#titlepart {
		font-family: var(--title-font-family);
		font-variation-settings: "wght" 300;
		text-align: left;
		font-size: 1rem;
		line-height: 2rem;
		color: #9a9898;
		margin-bottom: -1rem;
	}
	
	/* Author and Link*/
	#address {
		color: var(--main-text-color);
		font-size: 0.5rem;
		margin-top: 0rem;
		margin-left: 0rem;
		margin-right: 0rem;
		display: flex;
		flex-direction: row;
		align-items:center;
		justify-content:space-between;
		border-top: 1px solid #1F1E1E;
		border-bottom: 1px solid #1F1E1E;
		margin-bottom: 0rem;
		border-right: 1px solid #1F1E1E;
		padding-top: -2rem ;
	} 


	.right-side {
		grid-column: 2;
		overflow-y: auto; 
		overflow-x: hidden;
		/* height: calc(100vh - 6rem);  */
		height: 80vh; 
		margin-left: 2rem;
		margin-top: 6rem; 
		margin-right: -0.5rem;
		margin-bottom: -3rem;
	}

	.opportunity {
		margin-left: 1rem;
	}

	main {
		margin-right: 1.5rem;
	}

	/* Body Style */
	p{
		margin-bottom: 3rem;
	}
		
	html, body {
		margin-bottom: 0;
		padding-bottom: 0;
		height: 100%; 
	} 
		
	footer {
		display: none;
	}
}


@media (min-width: 1300px) {

	.right-side{
		margin-bottom: -4rem;
	}

	.grid-container-full {
		display: grid;
		grid-template-columns: 450px 1fr; 
		height: 100vh; 
		padding-bottom: 0;
	}

	.left-side {
		grid-column: 1;
		position: sticky; 
		top: 0;
		height: 100vh; 
		overflow-y: hidden; 
		overflow-x: hidden;
		margin-left: -1.5rem;
		margin-top: -3rem;
		padding-top: -2rem;
	}


	/* Title section */
	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--main-text-color);
		margin-top: 3.5rem;
	}

	/* Title */
	.title-mobile{
		font-family: var(--title-font-family);
		font-variation-settings: "wght" 500;
		margin-top: 3rem;
		margin-bottom: 3rem;
		font-size: 2.6rem;
		color: var(--main-bg-color);
		transition: all 0.3s ease;
	}

	#titlepart {
		font-family: var(--title-font-family);
		font-variation-settings: "wght" 300;
		text-align: left;
		font-size: 2rem;
		line-height: 2rem;
		color: #9a9898;
		margin-bottom: -1rem;
		padding-bottom: 4rem;
	}

	main {
		width: 75ch;
	}

	html, body {
		margin-bottom: 0;
		padding-bottom: 0;
		height: 100%; 
	} 

	footer {
		display: none;
	}
}