*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/* Root Variables */
:root {
	--root-size: 1.2rem;
	--main-bg-color: #edebeb;
	--main-text-color: #1F1E1E;
	--title-font-family: "New Order";
	--title-font-weight: 400;
	--title-font-style: normal;
	--body-font-family: "Poppins";
	--body-font-size: 1rem;
	--body-font-weight: 350;
	--body-font-style: normal;
	--nav-padding: 1.2rem;
	--nav-margin: 1.5rem;
	--nav-height: 4px;
}

/* General Styles */
body {
	margin-left: 1.5rem; 
	margin-right: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem; 
	background-color: var(--main-text-color);
	color: var(--main-bg-color);
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
}

nav {
	display: flex;
	position: fixed;
	top: 0rem;
	left: 0rem;
	right: 0rem;
	width: 100vw;
	justify-content: space-between;
	align-items: top;
	z-index: 10;
	background-color: var(--main-text-color);
	padding-top: var(--nav-padding);
	padding-bottom: var(--nav-padding);
	padding-left: var(--nav-margin); 
	padding-right: var(--nav-margin);  
} 


/*  DEFAULT: MOBILE LAYOUT */

/* Navigation */
.menu {
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
	color:#edebeb;
}

.grid-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.grid-inner {
	background-color: #F2C93F;
	height: 2rem;
	width: 2rem;
} 


/* Title */
#title-mobile {
	font-family: var(--title-font-family);
	font-size: calc(var(--root-size) * 3.6);
	line-height: 5rem;
	text-align: left; 
	margin-top: 14rem;
	margin-bottom: 14rem;
}

#matters-text {
	font-weight: 600;
}


/* Article 1 */

.article1-style {
	font-family: 'Paytone One';
}

.article1 {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	padding-top: 2rem;
	padding-bottom: 2.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	border-bottom: 2px solid #1F1E1E;
}

.article1-style h2 {
	font-size: 3.6rem;
}

.article1-style h3{
	font-family: 'Poppins';
	font-size: 1.3rem;
	margin-bottom: 2rem;
	font-weight: 400;
}

.article1-style p{
	font-family: 'Poppins';
	font-size: 1rem;
	color: #808080;
	font-weight: 400;
}

.grid-container1 {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 0.5fr 7fr;
	padding-bottom: 10%;
}

.grid-inner1 {
	background-color: #D1484B;
	height: 3rem;
	width: 1.5rem;
}

.grid-inner1-a {
	background-color: transparent;
	height: 3rem;
	width: 1.5rem;
	border: 2px solid #D1484B; 
} 


/* Article 2 */
.article2-style {
	font-family: 'Source Code Pro';
} 

.article2 {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	padding-top: 2rem;
	padding-bottom: 2.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	border-bottom: 2px solid #1F1E1E;
}

.article2-style h2 {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.article2-style p{
	font-size: 1rem;
	color: #808080;
	font-weight: 400;
}

.grid-container2 {
	display: grid;
	grid-template-rows: 1fr;
	padding-bottom: 10%;
} 

.grid-inner2 {
	background-color: #98CD3B;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
} 


/* Article 3 */
.article3-style {
	font-family: 'Lexend';
} 

.article3 {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	padding-top: 2rem;
	padding-bottom: 2.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	border-bottom: 2px solid #1F1E1E;
}

.article3-style h2 {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 0.3rem;
}

.article3-style h3 {
	font-size: 2.2rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

.article3-style p{
	font-size: 1rem;
	color: #808080;
	font-weight: 300;
}

.grid-container3 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	padding-bottom: 10%;
}

.grid-inner3 {
	width: 3rem;
	height: 3.5rem;
	background-color: #3F75F2;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


/* Colophon */
.colophon {
	padding-top: 3rem;
	padding-bottom: 5rem;
}

.colophon h2{
	font-size: 1.5rem;
	font-family: var(--title-font-family);
	font-weight: 500;
	margin-bottom: 2rem;
}

.colophon p{
	margin-bottom: 1.5rem;
	line-height: 1.6rem;
}

/* Footer */

footer {
	background-color:var(--main-text-color);
	color: var(--main-bg-color);
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	margin-bottom: -2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:space-between;
	height: auto;
	font-size: calc(var(--root-size)/1.2);
	margin-top: 0.5rem;
}


/* Article 1 link  */
/* .grid-container11 {
	display: flex;
	justify-content: left;
	font-size: 3rem;
	color: #D1484B;
	font-weight: 500;
	padding-bottom: 20%;
}

.grid-item {
	color:#edebeb;
	opacity: 70%;
} */


/* .grid-container1 {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 4fr;
	padding-bottom: 20%;
} */

/* .grid-inner1 {
	background-color: #D1484B;
	height: 3rem;
	width: 3rem;
} */

/* .grid-inner1-a {
	background-color: transparent;
	height: 3rem;
	width: 3rem;
	border: 2px solid #D1484B; 
} */


/* Grid 3 */
/* .grid-container3 {
	display: grid;
	grid-template-rows: 1fr; 
	grid-template-columns: 1fr 0.8fr 0.5fr 3fr;
	padding-bottom: 20%;
} 

.grid-inner3 {
	background-color: #3F75F2;
	height: 3rem;
	width: 3rem;
} 

.grid-inner3-a {
	background-color: #3F75F2;
	height: 3rem;
	width: 2rem;
} 

.grid-inner3-b {
	background-color: #3F75F2;
	height: 3rem;
	width: 1rem;
} 

.grid-inner3-c {
	background-color: #3F75F2;
	height: 3rem;
	width: 0.5rem;
}  */


/* .article1-style:hover h2 {
    font-weight: bold;
    color:#D1484B;
	font-style:italic;
	text-decoration: underline;
} */